        .inlineTable 
        {
          /**  display: inline-block;  
            
            float: left;
            float: top;**/ 
            display: inline-table;                 
            text-align: left;
          
         }
        
        #tm
        {
            margin-right: 25px;
        }
        #listName2
        {
             
            height:auto;
            margin: 0 auto;
            margin-top:20px;             
            text-align: center;
            padding-top: 25px;
            padding-bottom: 25px;            
            display: none;
            
            
        }
        
        #listName3
        {
             
            height:auto;
            margin: 0 auto;
            margin-top:20px;             
            text-align: center;
            padding-top: 25px;
            padding-bottom: 25px;
            display: block;
            
            
        }
        .cursorName
        {
            cursor:pointer;
            color:#ecf0f1;
        }
        
        label.cursorName:hover,label.cursorName:active 
        {
            color:blue;
        }
        
        table#subTable 
            {
                 text-align: center;
                 margin-left:auto;
                 margin-right:auto;
                 table-layout:auto;
                 
                 
                 
            }
            
            #table7
            {
                
              table-layout:inherit;
                
            }
            #subTable input
            {
                width:80%;
                text-align: center;
            }
            #table7 td.order
            {
                /**width: 35px;**/            }
            
            #table7 td 
            {
                overflow: hidden;
            }
            
           
        a:link {color:#ecf0f1;}    
        a:visited {color:#ecf0f1;} 
        a:hover {color:#ecf0f1;}   
        a:active {color:#ecf0f1;}
        a
        {            
            cursor:pointer;
        }
        
        .menu11
            {
                margin:auto;
                margin-top:20px;               
                text-align: center;
                padding-top: 47px;
                display: block;
            }
            
            #successPopUp2
            {  
                display:none;  
               
                height:50px;  
                width:300px; 
                
               /** position: fixed;
                margin-top: -50px;
                margin-left: -150px;**/
                background:#A3FF47;  
               
                padding-top: 25px;
                 
                font-size:16px;
                border-radius: 40px;
                text-align: center;
                
                
            }
            
            .non-immediate-parent-container
            { 
                height: auto; 
                width: 125px; 
                display: inline-block;
                margin-left: 15px;
                margin-right: 15px;
                margin-top: 25px;
                margin-bottom: 1px;
                border:4px solid white;
            }
            
            a.fancybox
            {
                display: inline;
            }

            #menu4-55
            {
                display: none;
                margin:auto;
                margin-top:20px;               
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
            }